/*

# Footer

This is the footer.

*/
.mobile{
    display: inline;

    @include media($desktop) {
        display: none;
    }
}

.desktop{
    display: none;

    @include media($desktop) {
        display: inline;
    }
}
footer {
    background-color: #89C5B9;
    border-top: 0.938em solid #3D3B36;
    height: 300px;
    color: white;

    @include media($desktop) {
        height: 250px;
    }

    .footer-content{
        @include outer-container;

        .library-info-container{
            @include span-columns(9);

            .library-information{

                padding-top: 1.5em;
                padding-bottom: .5em;
                border-bottom: 1px solid white;
                font-size: 1.125em;
            }

            .library-information-contact{
                margin-top: 1em;


                table{
                    width: 100%;
                    tbody{
                        tr{
                            font-size: 14px;
                            line-height: 18px;

                            td{
                                padding-right: 2em;
                                padding-bottom: 2em;

                                @include media($desktop) {
                                    padding-right: 7em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .social-media-container{
            @include span-columns(3);

            .social-media{

                padding-top: 1.5em;
                padding-bottom: .5em;
                border-bottom: 1px solid white;
                font-size: 1.125em;
            }

            .social-media-icons{
                @include span-columns(3);
                margin-top: 1em;
                width: 100%;

                ul{
                    list-style: none;
                    padding-left: 0;
                    margin-top: 0;
                    li{
                        display: inline;
                        padding-right: 1em;
                        @include media($desktop) {
                        padding-right: 2.1em;
                        }

                        &:hover{
                            fill: red;
                        }
                    }

                }


            }
        }
    }
}
