body{
    margin: 0;
    padding: 0;
}

/* ## Header

Header structure of the site.

*/

header{
    background-color: #89C5B9;

    .logo-login {
        @include outer-container;
        height: 150px;
        text-align: center;

        @include media($desktop) {

        height: 70px;
        padding-top: .75em;
        text-align: auto;
        }

        img{
            width: 50%;
            @include media($tablet) {
                float: left;
                width: auto;
                }
        }

        form{
            margin-top: .5em;
            @include media($desktop) {
                float: right;
            }

            input{
                height: 50px;
                padding: 1em;
                color: #777776;
                font-size: 1em;
                margin-right: .5em;
                border: none;

                @include media($desktop) {
                    float: left;
                    height: 33px;
                }

                &:last-child{
                    padding: 0 1em;
                    color: white;
                    background-color: #3D3B36;
                    margin-right: 0;
                    width: 40%;

                    @include media($desktop) {
                        width: auto;
                    }

                    &:hover{
                        background-color: #201F1C;
                    }
                }
            }
        }
    }
}



/* ## Navigation

Navigation structure of the site.

*/

nav {
    background-color: #3D3B36;
    color: white;
    text-align: center;

    @include media($desktop) {
        height: 43px;
        text-align: left;


    }
}

.nav-container{
    @include outer-container;
}

.nav-wrapper{
    @include span-columns(12);

    @include media($desktop) {
        @include span-columns(8);

    }

}

.operation-hours{
    @include span-columns(12);
    padding-top: .75em;

    @include media($desktop) {
        @include span-columns(4);
    }

}

nav ul {

    list-style: none;
    padding: 0;

    @include media($desktop) {
        text-align: right;
        margin: 0;
        padding-top: .75em;


    }
}

nav ul li {
    display: inline;
    padding: 0 10px 0 10px;
    text-align: right;

    &:first-child {
        padding: 0 10px 0 0;
    }

    &:after{
        content: '';
        border: 1px solid white;
        margin-left: 1em;
    }


    &:last-child{
        content: none;
        padding: 0 0 0 10px;

        &:after{
            content: none;
        }

    }

    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: lightgray;
        }
    }

}
