body{
    margin: 0;
    padding: 0;
}

/* ## Header

Header structure of the site.

*/

header{
    background-color: #89C5B9;

    .logo-login {
        @include outer-container;
        height: 150px;

        @include media($desktop) {

        height: 70px;
        padding-top: .75em;
        }

        img{
            float: left;
        }

        form{
            float: right;
            margin-top: .5em;
            input{
                height: 33px;
                padding: 1em;
                color: #777776;
                font-size: 1em;
                margin-right: .5em;
                border: none;

                &:last-child{
                    padding: 0 1em;
                    color: white;
                    background-color: #3D3B36;
                    margin-right: 0;

                    &:hover{
                        background-color: #201F1C;
                    }
                }
            }
        }
    }
}



/* ## Navigation

Navigation structure of the site.

*/

nav {
    background-color: #3D3B36;
    height: 43px;
    color: white;
}

.nav-container{
    @include outer-container;
}

.nav-wrapper{
    @include span-columns(8);

}

.operation-hours{
    @include span-columns(4);
    padding-top: .75em;


}

nav ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: .75em;
}

nav ul li {
    display: inline;
    padding: 0 10px 0 10px;
    text-align: right;

    &:first-child {
        padding: 0 10px 0 0;
    }

    &:after{
        content: '';
        border: 1px solid white;
        margin-left: 1em;
    }


    &:last-child{
        content: none;
        padding: 0 0 0 10px;

        &:after{
            content: none;
        }

    }

    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: lightgray;
        }
    }

}
