//Base Font Size
$base-font-size: 1;
$base-font-color: #f03;

//Disable box sizing for all elements
$border-box-sizing: false;

// //Break points
$mobile: new-breakpoint(min-width 480px);
$tablet: new-breakpoint(min-width 800px);
$desktop: new-breakpoint(min-width 1000px);
$desktop-hd: new-breakpoint(min-width 1200px);
