.garamond {
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
}

.garamonditalic {
  font-family: Garamond;
  font-style: italic;
  font-weight: normal;
}

.griffithgothicblack {
  font-family: "Griffith Gothic Black";
  font-style: normal;
  font-weight: normal;
}
