.personal-info-wrapper{
    @include outer-container;
    margin-top: 2.5em;
    margin-bottom: 2.5em;


    .alerts-wrapper{
        @include span-columns(12);
        margin-bottom: 1em;

        @include media($desktop) {
            @include span-columns(3);
        }

        .account-alerts{
            background-color: #89C5B9;
            color: white;
            padding: 1em;

            .alerts-title{
                margin-top: .5em;
                padding-bottom: .5em;
                border-bottom: 1px solid white;
            }
        }
    }

    .account-info-wrapper{
        @include span-columns(12);

        @include media($desktop) {
            @include span-columns(9);
        }

        .account-info{
            background-color: #EFEFEF;
            padding: 1em;
            margin-bottom: 1em;
        }
    }
}
